$IndexMenuMarginSide: 20em
.Container
  background-color: #000021
  color: #ff2200
  margin: 4em $IndexMenuMarginSide 4em $IndexMenuMarginSide
  font-size: 1.02em
  position: relative
  justify-items: center
  @media screen and (max-width: 500px)
    background-color: #000021
    // ff2200 + ff2200 = error???
.Main
  display: flex
  height: 30em
  .Sidebar
    color: #ff2200
    width: 30em
    margin-top: 10em
    list-style: none
    padding: 3vh
    li
      padding: 1em
      ul
        padding: 0.6em
      li
        list-style: none

  .Mainaera
    color: #ff2200
    width: 55em
    margin-top: 10em

  .SidebarRight
    color: #ff2200
    width: 30em
    margin-top: 10em
    list-style: none
    padding: 3vh
    li
      background-color: red
      ul
        background-color: #001255

